ACCESS_SECRET=secret
REFRESH_SECRET=refresh_secret
DATABASE_URL=postgresql://postgres.postgres@localhost:5432/postgres
GIN_MODE=debug
OPENOBSERVE_ENDPOINT=localhost:5080
OPENOBSERVE_ORGANIZATION=default
OPENOBSERVE_PASSWORD=password
OPENOBSERVE_USER=root@example.com
PORT=3000
QUEUE_CHUNKER=chunker
QUEUE_HOST=localhost:5672
QUEUE_PASSWORD=password
QUEUE_TRANSLATION=translation
QUEUE_USER=user
QUEUE_ZIP=zip
S3_CHUNK_BUCKET=chunks
S3_ENDPOINT=http://localhost:9000
S3_EPUB_BUCKET=epubs
S3_KEY=minioadmin
S3_PASSWORD=minioadmin
S3_REGION=us-west-2
S3_TRANSLATION_BUCKET=translations
ENVIRONMENT=development